@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-emboss {
    text-shadow: 0px 1px 0px white;
  }

  .text-emboss\/50 {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  }

  .bg-pattern {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABMSURBVHgB7c/LCQAwDALQ7D+dhOzTblAs5ANBz+JDMyIATnqvZJSN8O6ecOGtvTociMlHwlfg/oM7ORqpPeHLcH7UJx8JH8EhXPgTv6gINZx/6mnuAAAAAElFTkSuQmCC');
  }

  .auto-cols {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 360px), 1fr));
  }
}

body:has(.modal:checked) {
  overflow: hidden;
  padding-right: 8px;
}
